# Archivos a ignorar al exportar (para git archive)
.gitattributes export-ignore
.gitignore export-ignore
.github/ export-ignore
node_modules/ export-ignore
.vscode/ export-ignore
dist/ export-ignore
build/ export-ignore
tests/ export-ignore
*.map export-ignore
*.zip export-ignore
*.tar.gz export-ignore
package*.json export-ignore
webpack.* export-ignore
yarn.* export-ignore
composer.* export-ignore
